.card-item{
            cursor: pointer;
            
        }
        .card-item:hover{
            cursor: pointer;
        }
        .row-product::-webkit-scrollbar{
              display: none;
        }
        .quantity-control .btn {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            padding: 0;
            font-size: 18px;
            border: 1px solid #108dff!important;
            color: #108dff;
        }
        .quantity-control .btn:hover {
            background-color: #108dff!important;
            color: white;
        }
        .qty-input {
            max-width: 50px;
            height:25px;
        }
        .row-product{
            background-color:#f7fcff;
            height:500px;
            overflow-y:auto;
            overflow-x:hidden;
            border-radius:10px
        }
        .iconSup{
            background-color:#f7fcff;
            color :#108dff;
            border-radius:10px;
            font-size: 20pt;
            height:50px
        }
        
 