 body {
      background-color: #f5fafc;
    }

    #map-container {
      width: 100%;
      height: 600px;
      overflow: hidden;
      border: 2px solid #f5fafc;
      position: relative;
      background-color: #f5fafc;
    }

    #map-inner {
      width: 3000px;
      height: 2000px;
      position: absolute;
      background-color: #f5fafc;
      transform-origin: 0 0;
      cursor: grab;

      background-size: 50px 50px;
    }
    .table-box {
      width: 100px;
      height: 100px;
      position: absolute;
      transform-origin: center;
      transform: translate(0px, 0px);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
    }

    .table-box .meja {
      width: 60px;
      height: 60px;
      background-color: #AEE5F5;
      border: 2px solid #7DC6DE;
      border-radius: 10px;
      z-index: 2;
    }

    .table-box .kursi {
      width: 30px;
      height: 30px;
      background-color: #e2e8f0;
      border: 1px solid #94a3b8;
      border-radius: 4px;
      position: absolute;
    }

    .kursi-top    { top: -10px; left: 15px; }
    .kursi-bottom { bottom: -10px; left: 15px; }
    .kursi-left { bottom: 0px; left: -15px; }
    .kursi-right { bottom: 0px; right: -15px; }

    .content-page{
      padding:0px!important;
      height:90vh;
    }
    .btn-add-meja{
      position: absolute;
      bottom: 90px;
      right: 30px;
      font-size:22pt;
      transition: transform 0.2s ease;
    }
    /* Membesar saat hover */
    .btn-add-meja:hover {
      transform: scale(1.1);
    }

    /* Bisa juga menambahkan efek saat tombol ditekan (klik) */
    .btn-add-meja:active {
      transform: scale(1.05);
    }
    #floor_name{
      position: absolute;
      top: 20px;
      right: 40px;
      width: 250px;
    }

    
#radio-cards-container {
    margin-top: 2rem;
    width: 75vw;
    display: flex;
    flex-wrap: wrap;
}

.radio-card {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.radio-card:hover {
    border: 2px solid #016787;
    cursor: pointer;
}

.radio-card-check {
    display: none;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
}

.radio-card-check i {
    font-size: 1.6rem;
    color: #016787;
}

.text-center {
    text-align: center;
}

.radio-card-icon img {
    width: 80px;
}

.radio-card-label {
    margin-top: 1rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.radio-card-label-description {
    margin-top: 0.5rem;
    color: rgba(0, 0, 0, 0.7);
}

.radio-card.selected {
    border: 2px solid #016787;
}

.radio-card.selected .radio-card-check {
    display: inline-flex;
}